<title>Administrar</title>
<div class="row">
  {{#each videojuegos}}
  <div class="col-md-3">
    <div class="card" style="width:315px">
      <div class="card-body">
        <h5 class="card-title">
          {{nombre}}
        </h5>
      </div>
      <img class="card-img-bottom" src="{{imagen}}" alt="Card image" style="width:100%">
      <br>
      <a href="/editar/{{_id}}">
      <button class="btn btn-danger btn-block btn-sm">
        Editar
      </button>
    </a>
      <br>
      <form action="/eliminar/{{_id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger btn-block btn-sm" type="submit">
          Eliminar
        </button>
      </form>
    </div>
  </div>
  {{/each}}
</div>
