<form action="/guardar" method="POST">
  <h4>
  <div class="form-group">
    <label for="nombre">Videojuego:</label>
    <input type="text" class="form-control" id="nombre"
    placeholder="Nombre del Viedojuego" name="nombre">
  </div>
  <div class="form-group">
    <label for="compania">Compañia:</label>
    <input type="text" class="form-control" id="compania"
            placeholder="Compañia" name="compania">
  </div>
  <div class="form-group">
    <label for="clasificacion">Clasificación:</label>
    <input type="text" class="form-control" id="clasificacion"
            placeholder="Clasificación del Viedojuego" name="clasificacion">
  </div>
  <div class="form-group">
    <label for="tipoJuego">Tipo:</label>
    <input type="text" class="form-control" id="tipoJuego"
            placeholder="Tipo de juego" name="tipoJuego">
  </div>
  <div class="form-group">
    <label for="numJugadores">Número de jugadores:</label>
    <input type="text" class="form-control" id="numJugadores"
            placeholder="Número de jugadores" name="numJugadores">
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="text" class="form-control" id="precio"
            placeholder="Precio del juego" name="precio">
  </div>
  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="text" class="form-control" id="imagen"
            placeholder="Url de la imagen" name="imagen">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</h4>
</form>
