<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Buscar Videojuego</h1>
        <p>Por favor, ingrese el nombre del videojuego que quiere Buscar</p>
    </header>
    <main>
        <form action="/buscar" method="GET">
            <label for="nombre">nombre del videojuego</label>
            <input type="text" name="nombre" >
            
            <input type="submit"  value="consultar">
        </form>
    </main>
</body>
</html>