<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Eliminar Videojuego</h1>
      <p>Por favor, ingrese el nombre del videojuego que quiere eliminar</p>
    </header>
    <main>
      <form action="/eliminarJuego" method="delete">
          <input type="text" name="nombre" class='browser-default'>
          <input type="submit"  value="Eliminar">
      </form>
    </main>
  </body>
</html>
