<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API VIDEOJUEGOS</title>
  </head>
  <body>
    <div class="headd">
      <section id="menu">
        <ul>
          <a href="/">Inicio</a>
          <a href="/consultar">Consultar</a>
          <a href="/api/videojuegos">Lista</a>
          <a href="/modificar">Modificar</a>
          <a href="/agregar">Agregar</a>
          <a href="/eliminar">Eliminar</a>
        </ul>
      </header>
    </div>


    <div id="bod">
      <img src="https://cdn02.nintendo-europe.com/media/images/08_content_images/others_2/CI_NSwitch_NintendoSwitchOnline_NES_PlayAnywhere_Switch.png" width= 85% height= 85% align:"center">
      <div class="texto">BIENVENIDO<br><br>APIREST SOBRE<br><br>{{title}}</div>
    </div>
    
  </body>
</html>
