<title>Catalogo</title>
<div class="row">
  {{#each videojuegos}}
  <div class="col-md-3">
    <div class="card" style="width:315px">
      <div class="card-body">
        <h5 class="card-title">
          <a href="/profile/{{_id}}">{{nombre}} <a/>
        </h5>
      </div>
      <img class="card-img-bottom" src="{{imagen}}" alt="Card image" style="width:100%">
    </div>
  </div>
  {{/each}}
</div>
